html {
  display: flex;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

body {
  --separation: 1rem;
  flex: auto;
  padding: var(--separation);
  margin: 0rem;
  /* background-color: darkslateblue; */
  background: radial-gradient(at top, hsl(220, 50%, 30%), hsl(220, 30%, 20%));
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: 
    "..... ..... time"
    "..... ..... .....";
  gap: var(--separation);
}



/* - - - time related - - - */
.time {
  grid-area: time;
  display: flex;
  justify-content: center;
}

.clock {
  background-color: gray;
  aspect-ratio: 1/1;
  border-radius: 50%;
  position: relative;
}
.second-hand,
.minute-hand,
.hour-hand {
  position: absolute;
  left: 45%;
  height: 100%;
  width: 10%;
  background: rgba(0, 0, 0, .25);
}


/* - - - for testing - - - */
** {
  outline: 3px solid red;
}