html {
  display: flex;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

body {
  --separation: 1rem;
  flex: auto;
  padding: var(--separation);
  margin: 0rem;
  background: radial-gradient(at top, hsl(220, 50%, 30%), hsl(220, 30%, 20%));
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  /*temporal scale for clock test*/
  /* grid-template-columns: 1fr 1fr 3fr;
  grid-template-rows: 3fr 1fr; */
  /*temporal scale for clock test*/
  grid-template-areas: 
    "..... ..... time"
    "..... ..... .....";
  gap: var(--separation);
}



/* - - - time related - - - */
.time {
  grid-area: time;
  display: flex;
  justify-content: center;
}

.clock {
  /* background-color: gray; */
  background: linear-gradient(20deg,
    hsl(220, 30%, 50%),
    hsl(220, 50%, 60%),
    hsl(220, 30%, 45%)
  );
  aspect-ratio: 1/1;
  border-radius: 50%;
  position: relative;
  box-shadow:
    inset -.25rem -.25rem 3rem hsl(220, 50%, 40%),
    .5rem .5rem 1rem rgba(0,0,0,.25);
  isolation: isolate;
}

.hour-mark,
.second-mark {
  --width: 5px;
  position: absolute;
  width: var(--width);
  height: 100%;
  background-color: black;
  left: calc(50% - var(--width) / 2);
  background: linear-gradient(
    rgba(0,0,0,0) 2%,
    rgb(50,50,50) 2%,
    rgb(50,50,50) 10%,
    rgba(0,0,0,0) 10%,
    rgba(0,0,0,0) 90%,
    rgb(50,50,50) 90%,
    rgb(50,50,50) 98%,
    rgba(0,0,0,0) 98%,
    rgba(0,0,0,0) 98%
  );
}
.second-mark {
  background: linear-gradient(
    rgba(0,0,0,0) 2%,
    rgb(50,50,50) 2%,
    rgb(50,50,50) 6%,
    rgba(0,0,0,0) 6%,
    rgba(0,0,0,0) 94%,
    rgb(50,50,50) 94%,
    rgb(50,50,50) 98%,
    rgba(0,0,0,0) 98%,
    rgba(0,0,0,0) 98%
  );
  /* outline: 1px solid red; */
}
.hour-marks {
  --extrude: 2px;
  width: 100%;
  height: 100%;
  transform: translate(calc(var(--extrude)*-1), calc(var(--extrude)*-1));
  filter: drop-shadow(var(--extrude) var(--extrude) 0px hsl(220, 30%, 35%));
  overflow: hidden;
}

.seconds-hand,
.minutes-hand,
.hours-hand {
  z-index: 1;
  position: absolute;
  /* left: 39.5%; */
  left: 39%;
  /* top: -0.5%; */
  top: -1%;
  height: 100%;
  width: 20%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: transform cubic-bezier(1,0,0,2.09) 50ms;
}
.seconds-hand{
  background-image: url(./media/images/clock/seconds-hand.svg);
} .minutes-hand{
  background-image: url(./media/images/clock/minutes-hand.svg);
} .hours-hand {
  background-image: url(./media/images/clock/hours-hand.svg);
}
.seconds-hand.shadow,
.minutes-hand.shadow,
.hours-hand.shadow {
  left: 40%;
  /* top: 0.5%; */
  top: 1%;
  filter: brightness(.70) blur(.1rem);
}


/* - - - for general use - - - */

.hidden {
  display: none;
}

.no-animate {
  transition: 0ms;
}



/* - - - for testing - - - */
** {
  outline: 3px solid red;
}